// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
//@import 'sencha-touch/mountainview';
//@import 'sencha-touch/mountainview/all';

// Custom code goes here..

// Examples of using the icon mixin:
// @include icon('user');


//======= FROM iOS ========
@import "ios.scss";

.x-android .x-input-el {
  -webkit-text-fill-color: #fff !important;
}

.x-tabbar.x-docked-bottom .x-tab .x-button-icon{
  height: 2.65em;
}

.x-tabbar.x-docked-bottom .x-tab .x-button-label{
  font-size: 15px;
}

.x-tabbar.x-docked-bottom .x-tab .x-button-icon:before{
  font-size: 2.1em;
}

.x-tabbar.x-docked-bottom{
  height: 6em;
}