// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
$base-light: #452727;
$base-input-border-light: #977;
$base-input-placeholder-light: #977;
$base-dark: #1d0000;
$list-header: #2d1400;
$base-text: #6f4444;
$base-yellow: #fad339;

$base-color: $base-light;
$active-color: $base-dark;

$toolbar-gradient: 'null';
$toolbar-base-color: $base-dark;

$list-pressed-color: $base-text;

@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

//fonty z projektu


//fonts list
//avantgargotitctot_boocon
//avantgargotitctot_boo
//avantgargotitctot_bolobl
//avantgargotitctot_demcon
//avantgargotitctot_bolcon
//avantgargotitctot_med
//avantgargotitctot_booobl
//avantgargotitctot_dem
//avantgargotitctot_medcon
//avantgargotitctot_bol
//avantgargotitctot_demobl
//avantgargotitctot_extlig
//avantgargotitctot_medita

@font-face {
  font-family: 'Avant Garde Gothic Bold Condensed';
  src: url('../fonts/avantgargotitctot-bolcon-webfont.eot');
  src: url('../fonts/avantgargotitctot-bolcon-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/avantgargotitctot-bolcon-webfont.woff') format('woff'),
  url('../fonts/avantgargotitctot-bolcon-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avant Garde Gothic Bold';
  src: url('../fonts/avantgargotitctot-bol-webfont.eot');
  src: url('../fonts/avantgargotitctot-bol-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/avantgargotitctot-bol-webfont.woff') format('woff'),
  url('../fonts/avantgargotitctot-bol-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avant Garde Gothic Book';
  src: url('../fonts/avantgargotitctot-boo-webfont.eot');
  src: url('../fonts/avantgargotitctot-boo-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/avantgargotitctot-boo-webfont.woff') format('woff'),
  url('../fonts/avantgargotitctot-boo-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avant Garde Gothic Medium';
  src: url('../fonts/avantgargotitctot-med-webfont.eot');
  src: url('../fonts/avantgargotitctot-med-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/avantgargotitctot-med-webfont.woff') format('woff'),
  url('../fonts/avantgargotitctot-med-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avant Garde Gothic Condensed Book';
  src: url('../fonts/avantgargotitctot-boocon-webfont.eot');
  src: url('../fonts/avantgargotitctot-boocon-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/avantgargotitctot-boocon-webfont.woff') format('woff'),
  url('../fonts/avantgargotitctot-boocon-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avant Garde Gothic Condensed Medium';
  src: url('../fonts/avantgargotitctot-medcon-webfont.eot');
  src: url('../fonts/avantgargotitctot-medcon-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/avantgargotitctot-medcon-webfont.woff') format('woff'),
  url('../fonts/avantgargotitctot-medcon-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Custom code goes here..
@include icon-font('IcoMoon', inline-font-files('icomoon/icomoon.woff', woff, 'icomoon/icomoon.ttf', truetype ,'icomoon/icomoon.svg', svg));
@include icon('prank', '\e617', 'IcoMoon');
@include icon('specials', '\e600', 'IcoMoon');
@include icon('ranking', '\e601', 'IcoMoon');
@include icon('profile', '\e602', 'IcoMoon');
@include icon('episodes', '\e603', 'IcoMoon');
@include icon('generator', '\e604', 'IcoMoon');
@include icon('arrow-right', '\e609', 'IcoMoon');
@include icon('arrow-left', '\e610', 'IcoMoon');
@include icon('photo-camera', '\e60d', 'IcoMoon');
@include icon('image', '\e611', 'IcoMoon');
@include icon('settings', '\e618', 'IcoMoon');
@include icon('error', '\e619', 'IcoMoon');
@include icon('ok', '\e61a', 'IcoMoon');
@include icon('envelope', '\e613', 'IcoMoon');
@include icon('smile-face', '\e608', 'IcoMoon');

// nizej juz sa nieporawne znaki icon
@include icon('field-valid', '\e608', 'IcoMoon');
@include icon('field-invalid', '\e603', 'IcoMoon');
@include icon('reload', '\e603', 'IcoMoon');
@include icon('refresh', '\e603', 'IcoMoon');
@include icon('play', '\e603', 'IcoMoon');
@include icon('video-camera', '\e603', 'IcoMoon');
@include icon('video-camera-outline', '\e603', 'IcoMoon');
@include icon('microphone', '\e603', 'IcoMoon');
@include icon('microphone-outline', '\e603', 'IcoMoon');
@include icon('exclamation', '\e603', 'IcoMoon');
@include icon('drink', '\e603', 'IcoMoon');
@include icon('calendar', '\e603', 'IcoMoon');

::-webkit-input-placeholder {
  color: $base-input-placeholder-light;
}

:-moz-placeholder { /* Firefox 18- */
  color: $base-input-placeholder-light;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: $base-input-placeholder-light;
}

:-ms-input-placeholder {
  color: $base-input-placeholder-light;
}

.x-button {
  border-color: $base-light;
  color: #fff;
  background-color: transparent;
  background-image: none;

  &.x-button-pressing, &.x-button-pressed, &.x-button-active {
    &, &:after {
      background: $base-light;
    }
  }

  .x-button-label {
    font-weight: normal;
    min-height: 1.8em;
    line-height: 1.8em;
  }

  //UI: Facebook
  &.x-button-facebook,
  &.x-button-facebook-round,
  &.x-button-facebook-small {
    @include background-image(linear-gradient(top, #4b81bf 0%,#335495 89%,#4b75bd 90%,#4868af 100%));
    padding: 0;

    .x-button-icon.x-hidden {
      display: block;
      border-right: 1px solid #31477E;
      box-shadow: 1px 0 0 #4F85C0;
      width: 2.25em;
      height: 2.25em;
      background: url('../images/fb.png') 50% 100% no-repeat;
      background-size: auto 2em;
    }

    &.x-button-pressing, &.x-button-pressed, &.x-button-active {
      &, &:after {
        @include background-image(linear-gradient(top, #304d8f 0%,#487ab7 89%,#4d75bb 90%,#4869b0 100%));
      }
    }
  }

  //UI: Light
  &.x-button-light,
  &.x-button-light-round,
  &.x-button-light-small {
    background: #fff;
    color: $base-light;

    &.x-button-pressing, &.x-button-pressed, &.x-button-active {
      &, &:after {
        background: darken(#fff, 10%);
      }
    }
  }
}

.x-toolbar .x-button {
  border-color: $base-light;
  color: #fff;
  background-color: $base-dark;
  background-image: none;

  &.x-button-pressing, &.x-button-pressed, &.x-button-active {
    &, &:after {
      background: $base-light;
    }
  }

  .x-button-label {
    font-weight: normal;
    min-height: 1.8em;
    line-height: 1.8em;
  }
}

.x-toolbar.logo .x-toolbar-inner {
  background: url('../images/toolbar-logo.png') 50% 50% no-repeat;
  background-size: auto 75%;
}

// Custom code goes here..
.x-form .x-scroll-container,
.x-layout-card-item {
  background-color: #2d1400;
  color: #fff;
}

p a {
  color: #fff;
  font-weight: bold;
}

.text ol {
  list-style-type: decimal;
  padding-left: 1.5em;
}

.text li {
  list-style-type: decimal;
  margin: 0 0 1em;
  font-size: .7em;
  line-height: 1.5em;
}

.x-form-fieldset {
  margin: .5em;
}

.text h1,
.x-form-fieldset-title {
  font-weight: bold;
  text-shadow: none;
  margin: 0 0 .5em;
  color: #FFF;
  text-transform: uppercase;
}

.x-form-fieldset .x-form-fieldset-inner {
  border: none;
  background: transparent;
}

.x-form-fieldset .x-field:first-child,
.x-form-fieldset .x-field:last-child,
.x-inner .x-form-fieldset-inner {
  -webkit-border-radius: 0;
  border-radius: 0;
}
.x-form-fieldset .x-field,
.x-form-fieldset .x-field:first-child,
.x-form-fieldset .x-field:last-child {
  border: none;
  margin-bottom: .55em;
}
.x-form-fieldset .x-field {
  background: transparent;
}

.x-spinner .x-input-el, .x-field-select .x-input-el {
  -webkit-text-fill-color: #fff;
  -webkit-opacity: 1;
}

.x-field-select .x-component-outer:after {
  background-color: $base-yellow;
}

.x-field .x-component-outer {
  border: 1px solid $base-input-border-light;
  @include border-radius(.35em, .35em);
}

.x-input-el {
  color: #fff;
  background-color: transparent;
}

.x-form-label {
  color: #FFF;
  text-shadow: none;
  background: none;
}

.x-form-fieldset .x-form-label {
  border: none;
}

.x-input-radio:checked+.x-field-mask::after,
.x-input-el:checked+.x-field-mask::after
{
  color: $base-yellow;
  background: $base-yellow;
}

.x-field-radio .x-field-mask::before {
  background-color: #1d0000;
  border: 3px solid $base-yellow;
}

.x-field-radio .x-field-mask::after {
  background: transparent;
}

.forgotten-password {
  font-size: .7em;
  text-align: center;
  padding: 2em 0;
  color: $base-yellow;
}

.message {
  font-family: "Avant Garde Gothic Medium", "Helvetica Neue",HelveticaNeue,"Helvetica-Neue",Helvetica,"BBAlpha Sans",sans-serif;

  position: relative;
  font-size: .55em;
  padding: 1em 1em 1em 4.6em;
  color: #1d0000;
  text-align: center;
  overflow: hidden;
  //@include background-image(radial-gradient(center, ellipse cover,  rgba(254,236,162,1) 0%,rgba(230,188,68,1) 100%));
  @include background-image(linear-gradient(left,  rgba(230,188,68,1) 0%,rgba(254,236,162,1) 40%,rgba(254,236,162,1) 60%,rgba(230,188,68,1) 99%));

  .icon {
    position: absolute;
    top: 50%;
    left: 1em;
    margin: -1.3em 0 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    width: 2.6em;
    height: 2.6em;

    &.caution {
      background-image: url('../images/caution.png');
    }

    &.joke {
      background-image: url('../images/joke.png');
      background-size: auto 80%;
    }

    &.calendar {
      background-image: url('../images/calendar.png');
      background-size: auto 80%;
    }
  }
}

.text p {
  font-size: .55em;
}

.text-big p {
  font-size: .8em;
}

.age-verification {
  .x-form-label {
    text-shadow: none;
    color: #fff;
    padding: .2em;
    background: none;
    border: none;
    text-transform: uppercase;
  }

  .x-field {
    margin-right: .55em;
    text-align: center;
  }
}

.add-photo {
  .border {
    position: relative;
    border: .1em solid $base-light;
    color: $base-light;
    width: 13.5em;
    height: 13.5em;
    margin: 0 auto;
    @include border-radius(50%);
  }

  .border:before {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    line-height: 165%;
    font-size: 8em;
    text-align: center;
    font-family: "IcoMoon";
    content: "\e60d";
  }

  .photo-elem {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    div {
      @include border-radius(50%);
      background-position: 50% 50%;
      background-size: auto 100%;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
    }
  }
}

.x-tabbar-dark.x-docked-bottom .x-button-icon:before,
.x-tabbar-dark.x-docked-bottom .x-button-label {
  color: #fff;
}

.x-tabbar-dark.x-docked-bottom .x-tab-pressed .x-button-icon:before,
.x-tabbar-dark.x-docked-bottom .x-tab-pressed .x-button-label,
.x-tabbar-dark.x-docked-bottom .x-tab-active .x-button-icon:before,
.x-tabbar-dark.x-docked-bottom .x-tab-active .x-button-label {
  color: #edd57e;
}

.user {
  text-align: center;
  margin: 0 0 1em;

  h1 {
    font-size: 1.2em;
    font-family: "Avant Garde Gothic Condensed Book", "Helvetica Neue",HelveticaNeue,"Helvetica-Neue",Helvetica,"BBAlpha Sans",sans-serif;
  }

  span {
    font-size: .8em;
  }

  .pub {
    font-family: "Avant Garde Gothic Condensed Book", "Helvetica Neue",HelveticaNeue,"Helvetica-Neue",Helvetica,"BBAlpha Sans",sans-serif;
    border-right: .1em solid #fff;
    padding: 0 .5em 0 0;
    margin: 0 .5em 0 0;
  }

  .points {
    font-family: "Avant Garde Gothic Bold", "Helvetica Neue",HelveticaNeue,"Helvetica-Neue",Helvetica,"BBAlpha Sans",sans-serif;
    font-weight: bold;
    text-transform: uppercase;
  }

  .avatar {
    width: 13.5em;
    height: 13.5em;
    margin: 1em auto;
    @include border-radius(50%);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% auto;
  }
}

.tips {
  padding: 1em 0;

  h2 {
    font-family: "Avant Garde Gothic Condensed Medium", "Helvetica Neue",HelveticaNeue,"Helvetica-Neue",Helvetica,"BBAlpha Sans",sans-serif;
    padding: .5em;
    text-transform: uppercase;
    font-size: .8em;
    border: .1em solid $base-light;
    border-width: .1em 0;
  }

  h3 {
    font-family: "Avant Garde Gothic Condensed Book", "Helvetica Neue",HelveticaNeue,"Helvetica-Neue",Helvetica,"BBAlpha Sans",sans-serif;
  }

  li {
    background: url('../images/tips-tmp.png') no-repeat;
    background-position: 98% .5em;
    background-size: 2em auto;
    font-size: .7em;
    padding: .5em;
  }

  .done {
    background-image: url('../images/tips-done-tmp.png');
  }

  p {
    font-family: "Avant Garde Gothic Condensed Medium", "Helvetica Neue",HelveticaNeue,"Helvetica-Neue",Helvetica,"BBAlpha Sans",sans-serif;
    color: #907655;
    font-size: .9em;
    text-transform: uppercase;
  }
}

.ranking {
  .x-list {
    background: none;
  }

  .x-list-item {
    color: #fff;
  }

  .x-list-item .x-innerhtml,
  .ranking-header .x-innerhtml {
    display: table;
    font-size: .8em;
    width: 100%;
  }

  .ranking-header .x-innerhtml {
    font-family: "Avant Garde Gothic Bold Condensed", "Helvetica Neue",HelveticaNeue,"Helvetica-Neue",Helvetica,"BBAlpha Sans",sans-serif;
    text-transform: uppercase;
    border-bottom: 1px solid $base-light;
  }

  .avatar {
    width: 3.5em;
    height: 3.5em;
    margin: .2em auto;
    @include border-radius(50%);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% auto;
  }

  .current .avatar {
    border: .2em solid $base-yellow;
  }

  .cell,
  .ranking-header .cell:first-child + .cell{
    border-left: .1em solid $base-light;
    display: table-cell;
    vertical-align: middle;
    padding: .5em;
    text-align: center;
  }

  .ranking-header .cell:first-child {
    margin: 0 0 0 1px;
  }

  .cell:first-child, .cell:first-child + .cell {
    border: none;
  }

  .name,
  .points,
  .position {
    font-family: "Avant Garde Gothic Bold", "Helvetica Neue",HelveticaNeue,"Helvetica-Neue",Helvetica,"BBAlpha Sans",sans-serif;
  }

  .pub {
    font-family: "Avant Garde Gothic Medium", "Helvetica Neue",HelveticaNeue,"Helvetica-Neue",Helvetica,"BBAlpha Sans",sans-serif;
  }

  .position {
    width: 3em;
    padding: .5em 0;
  }

  .month-name {
    line-height: 1.8em;
    text-align: center;
  }
}

.joke {
  .lead {
    font-weight: bold;
  }

  p {
    padding: 1em 0 0;
    font-size: .9em;
    line-height: 1.5em;
  }
}

.thank-you {
  padding: 0 0 0 3.5em;

  &:before,
  &:before {
    margin: 0 auto;
    width: 1.2em;
    height: 1.2em;
    font-size: 2.5em;
    font-family: "IcoMoon";
    position: absolute;
    top: 0;
    left: 0;
  }

  &.joke:before {
    content: '\e608'
  }
  p {
    padding: 0;
  }
}

.big-button {
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;

  .icon {
    height: 10em;
    width: 10em;
    margin: 0 auto;
  }

  .text {
    text-transform: uppercase;
    text-align: center;
  }

  .choose-photo {
    background: url('../images/choose-photo.png') 50% 50% no-repeat;
    background-size: 100% auto;
  }

  .add-photo {
    background: url('../images/add-photo.png') 50% 50% no-repeat;
    background-size: 100% auto;
  }
}

.choose {
  .x-dataview-item div {
    width: 5em;
    height: 5em;
    margin: 1em 0 1em 1em;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.generator {
  .x-list {
    background: transparent;
  }

  .x-list-normal .x-list-item {
    color: #fff;
    border: none !important;
    margin: 0 0 1em;

    img {
      vertical-align: top;
//      height: 5em;
      padding: 0 1em 0 0;
    }
  }
}

//episodes
.x-list-normal .x-list-item.x-list-item-tpl,
.x-list-normal .x-list-item.x-list-item-tpl.x-list-footer-wrap,
.x-list-normal .x-list-item .x-dock-horizontal {
  border: none;
}

.x-list-normal .x-list-header {
  border-color: $base-light;
  background: $list-header;
  color: #fff;
  padding: 0.3em 1.02em;
  text-transform: uppercase;

  span {
    float: right;
  }
}

.x-field-radio .x-component-outer {
  border: none;
}

.episodes,
.ranking {
  .x-list .x-list-item .x-list-item-body,
  .x-list .x-list-item.x-list-item-tpl .x-innerhtml {
    padding: 0;
  }
}

.episodes, .episode {
  .episode-image {
    font-family: "Avant Garde Gothic Book", "Helvetica Neue",HelveticaNeue,"Helvetica-Neue",Helvetica,"BBAlpha Sans",sans-serif;
    height: 6.5em;
    text-align: center;
    line-height: 6.5em;
    color: #FFF;
    background-size: auto 100%;
    text-shadow: 1px 1px 1px #000;
    background-position: 50% 50%;
  }

  .episode-image.soon {
    height: 6.5em;
    background-size: 100% auto;

    &:before {
      display: block;
      margin: 0 auto;
      width: 100%;
      height: 100%;
      background: url("../images/episode-soon.png") 50% 50% no-repeat;
      background-color: rgba(45, 20, 0, 0.7);
      background-size: auto 50%;
      content: ' ';
    }
  }
}

.episode {
    .x-form-label {
      white-space: normal;
    }

    .wrong {
      .bg {
        opacity: 0.3;
      }
    }

    img {
      width: 100%;
    }

    .episode-final-wrong,
    .episode-final-archive,
    .episode-final-correct {
      width: 100%;
      margin: .5em auto 0;
    }

  .episode-final-correct {
    margin: 1.5em auto 0;
  }

  .episode-final-header {
    h1 {
      font-family: "Avant Garde Gothic Bold", "Helvetica Neue",HelveticaNeue,"Helvetica-Neue",Helvetica,"BBAlpha Sans",sans-serif;
      text-transform: uppercase;
      font-size: .9em;
      line-height: 1.3em;
      font-weight: bold;
    }

    p {
      font-family: "Avant Garde Gothic Condensed Book", "Helvetica Neue",HelveticaNeue,"Helvetica-Neue",Helvetica,"BBAlpha Sans",sans-serif;
      font-size: .7em;
      margin: 0 0 1em;
      position: relative;
    }

    span {
      font-family: "Avant Garde Gothic Bold Condensed", "Helvetica Neue",HelveticaNeue,"Helvetica-Neue",Helvetica,"BBAlpha Sans",sans-serif;
      position: absolute;
      top: -.75em;
      font-size: 4.5em;
      z-index: 100;
      right: 0;
    }

    sup {
      font-family: "Avant Garde Gothic Condensed Medium", "Helvetica Neue",HelveticaNeue,"Helvetica-Neue",Helvetica,"BBAlpha Sans",sans-serif;
      font-size: .5em;
    }
  }

  .episode-final-photo {
    border:1px solid #fff;
    margin-bottom: 2em;

    img {
      display: block;
      width: 100%;
    }
  }

  .episode-final-list {
    text-align: center;

    &>img {
      width: 60%;
    }

    ul {
      text-align: left;
      margin-top: 1em;
      li {
        margin-bottom: 1.5em;
        display: table;
        vertical-align: middle;
        &:last-child {
          margin-bottom: 0;
        }

        img {
          width: 4em;
          margin-right: 1em;
          vertical-align: middle;
        }

        span {
          font-size: 0.9em;
          vertical-align: middle;
          display: table-cell;
          line-height: 1.5em;
        }
      }
    }
  }

}

.formfield {
  .valid, .invalid {
    position: relative;
  }

  .valid:before,
  .invalid:before {
    margin: 0 auto;
    width: 2em;
    height: 2em;
    font-size: 1em;
    font-family: "IcoMoon";
    position: absolute;
    top: .8em;
    right: -0.6em;
  }

  .x-field-clearable, .x-field-select {
    &.valid:before, &.invalid:before {
      right: 1.5em;
    }
  }


  .valid:before {
    color: #0E0;
    content: "\e61a";
  }

  .invalid:before {
    color: #E00;
    content: "\e619";
  }

  .msg {
    font-size: .8em;
  }
}

.message-list {
  background:$base-dark;

  .item {
    color:#fff;
  }
}



//style przeniesione z android.scss


.age-verification{
  input{
    -webkit-text-fill-color: #fff;
    text-align: center;
    font-size: 3em;
    @media only screen and (max-width : 720px) {
      font-size: 2.0em;
    }
  }
  .x-input-el{
    padding: .2em;
    min-height: 1.3em;
  }
}

.view-head{
  text-align: center;
  background: #1d0000;
  line-height: 1.2em;
  font-size: 1em;
  color: #fff;
  @media only screen and (min-width : 460px) {
    line-height: 1.2em;
    font-size: 1.6em;
  }
}


.view-subhead{
  font-family: "Avant Garde Gothic Bold Condensed", "Helvetica Neue",HelveticaNeue,"Helvetica-Neue",Helvetica,"BBAlpha Sans",sans-serif;
  text-align: center;
  background: #2d1400;
  line-height: 1.2em;
  font-size: 1.2em;
  color: #fff;
  border: 0 solid #46291b;
  padding: 10px 0 10px 0;
  text-transform: uppercase;
}

.generator .view-subhead {
  font-size: .8em;
}

.user .view-subhead {
  font-family: "Avant Garde Gothic Condensed Medium", "Helvetica Neue",HelveticaNeue,"Helvetica-Neue",Helvetica,"BBAlpha Sans",sans-serif;
  font-size: .7em;
  padding: 0 10px;
  text-align: left;
  font-weight: normal;
}

.add-meme{
  border: 0;
  padding: 2em 0 2em 0;
  @media only screen and (max-width : 360px) {
    padding: 2em 0 .5em 0;
  }
  .photo-camera{
    color: #452727;
    font-size: 6em;
    @media only screen and (max-width : 360px) {
      font-size: 3em;
    }
  }
  .x-button .x-button-icon {
    width: 1.8em;
    height: 1.5em;
  }

}



.show-list{
  border: 0;
  padding: 4em 0 2em 0;
  @media only screen and (max-width : 360px) {
    padding: 2em 0 .5em 0;
  }
  .image{
    color: #452727;
    font-size: 6em;
    @media only screen and (max-width : 360px) {
      font-size: 3em;
    }
  }

}

//.x-button.x-button-pressing{
//  background: transparent !important;
//}

.x-button .x-button-icon {
  width: 1.8em;
  height: 1.5em;
}

.x-toolbar-light.x-docked-top{
  border-bottom-color: #1d0000;

}

.x-tabbar-dark.x-docked-bottom .x-tab-active{
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.x-toolbar-light .x-title{
  color: #fff;
  font-size: 1em;
  @media only screen and (min-width : 460px) {
    font-size: 1.2em;
  }

}

.x-toolbar .x-button .x-button-icon:before{
  font-size: 1em;
  line-height: 1.7em;
  @media only screen and (min-width : 460px) {
    font-size: 1.3em;
    line-height: 1.3em;
  }
}

.meme-item-listning{
  width: 50%;
  height: auto;
  vertical-align: top;
}

.meme-item-box{
  position: relative;
  span{
    position: absolute;
    line-height: 1.6em;
  }
  .btn-more{
    background: #ececec;
    color: #543c3c;
    width: 48%;
    display: block;
    bottom: 0;
    left: 50%;
    border-radius: 0.4em;
    min-height: 1.8em;
    padding: .3em .6em;
    border: 1px solid #999;
    text-align: center;
    margin-left: 10px;
  }
}

//.x-list .x-list-item.x-item-selected .x-dock-horizontal, .x-list .x-list-item.x-item-selected.x-list-item-tpl{
//  background: transparent !important;
//  color: #fff;
//}


.x-dataview-container{
  text-align: center;
}

.episode-image{
  background-repeat: no-repeat;
}

.message{
  div{
    margin: auto;
  }
  font-size: .8em;
  text-transform: uppercase;
  padding: .7em .7em .7em 3em;
  margin: .3em 0em .3em 0em;
  @media only screen and (min-width : 460px) {
    font-size: .8em;
    line-height: 1.4em;
    padding: .7em .7em .7em 2.4em;
  }
  .icon{
    width: 1.3em;
    height: 1.3em;
    margin-top: -0.6em;
    @media only screen and (min-width : 460px) {

    }
  }
}

.fb-share-icn{
  background: url('../images/fb-share-icn.png') 50% 50% no-repeat !important;
  background-size: auto 60% !important;
  border: 0;
  display: block;
  height: 60px;
}

.mail-share-icn{
  background: url('../images/mail-share-icn.png') 50% 50% no-repeat !important;
  background-size: auto 60% !important;
  border: 0;
  height: 60px;
}

.x-floating .x-list .x-list-item.x-list-item-tpl .x-innerhtml {
  border-bottom: 1px solid #000;
}

.x-badge{
  right: 11px;
}

.user{
  .avatar {
    width: 7em;
    height: 7em;
    margin: 1em auto;
    @include border-radius(50%);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% auto;
  }
}

.x-list .x-list-header .x-innerhtml {
  font-family: "Avant Garde Gothic Bold Condensed", "Helvetica Neue",HelveticaNeue,"Helvetica-Neue",Helvetica,"BBAlpha Sans",sans-serif;
  font-size: 1.1em;
}

